import os

ENDPOINT_NAME = "MY ENDPOINT NAME"

class Settings:
    # Acceptable to commit this base url since this is internal IP address
    ZAP_BASE_URL = os.getenv("ZAP_BASE_URL", "SOMETHING")  

settings = Settings()
